body {
    background: linear-gradient(#8f8e8e, #fbfbfb);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: darkslategray;
}

.flex-container {
    display: flex;
}

.external-form {
    background: whitesmoke;
    width: 400px;
    padding: 20px 50px 50px 50px;
    box-shadow: grey 0px 4px 10px 2px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 94%;
    height: 30px;
    font-size: 15px;
    border-radius: 4px;
    padding: 0 10px;
}

input:hover {
    opacity: 0.8;
}

input[type="submit"] {
    width: 100%;
    height: 30px;
    border-radius: 6px;
    background-color: #0065C9;
    border-color: #0065C9;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.logo {
    margin: 20px 0;
    width: 200px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h3 {
    margin: 0;
}

.alert ul {
    margin: 5px 0;
}

.forgot-password-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.forgot-password-container a {
    color: #00A1B1;
    text-decoration: none;
}

.forgot-password-container a:hover {
    color: #00A1B1;
    text-decoration: underline;
}

form {
    margin-bottom: 0;
}

.copyright-container {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
}

div.has-input-icon {
    position: relative;
}

input.has-input-icon {
    padding: 0 10px 0 30px;
    width: 90%;
}

.input-icon {
    position: absolute;
    top: 27px;
    display: inline-block;
    height: 24px;
    width: 25px;
    left: 5px;
}

.input-icon.has-action:hover {
    opacity: 0.8;
}

.input-icon > img {
    width: 100%;
}