.sidebar {
    display: flex;
    flex-direction: column;
    color: #C4C4C4;
    background: linear-gradient(to right, #333333, #222222);
}

.sidebar .head {
    margin-bottom: 20px;
    padding: 12px;
    background-color: #111;
    border-bottom: 2px solid #568DF8;
}

.sidebar .head .logo {
    margin-bottom: 15px;
}

.sidebar .head .logo a {
    display: block;
    text-align: center;
    position: relative;
}

.sidebar .head .logo a.large img {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    padding: 5px 15px 10px;
    opacity: 1;
}

.sidebar .head .logo a span {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: block;
    text-align: center;
    opacity: 0;
    transition: 300ms all linear;
    color: white;
    font-size: 20px;
}

.sidebar .head .user {
    display: flex;
    border-radius: 20px;
    margin: 0 5px 10px;
}

.sidebar .head .user i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    margin-right: 5px;
    font-size: 35px;
    font-weight: 400;
}

.sidebar .head .user .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sidebar .head .user .details .username {
    /*font-style: italic;*/
}

.sidebar .head .user .details .role {
    color: #999999;
}

.sidebar ul.navigation {
    list-style: none;
    padding: 0;
    margin: 0 20px;
}

.sidebar ul.navigation > li {
    margin-bottom: 15px;
}

.sidebar ul.navigation > li.heading {
    color: #818181;
}

.sidebar ul.navigation > li > a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
    transition: 300ms all linear;
}

.sidebar ul.navigation > li > a:hover {
    text-decoration: none;
    color: white;
}

.sidebar ul.navigation > li > a .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    margin-right: 15px;
    font-size: 25px;
    font-weight: 400;
}

.sidebar .caret {
    margin-left: 5px;
}

.sidebar ul.dropdown-menu {
    position: absolute;
    top: 0;
    left: 180px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    border: 3px solid #568DF8;
    border-radius: 8px;
}

.sidebar ul.dropdown-menu > li {
    margin: 0 !important;
    border-bottom: 1px solid #444444;
    white-space: nowrap;
}

.sidebar ul.dropdown-menu > li.heading {
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid #444444;
}

.sidebar .dropdown-menu .divider {
    background-color: #444444;
}

.sidebar ul.dropdown-menu > li > a {
    padding: 10px 15px;
    color: white;
    transition: 300ms all linear;
}

.sidebar .dropdown-menu > li > a:focus,
.sidebar .dropdown-menu > li > a:hover {
    background-color: #222222;
}

.sidebar {
    position: relative;
}

.sidebar .shutter {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: linear-gradient(to right, #222222, #555555, #222222, #555555, #222222, #555555, #222222, #555555, #222222, #555555, #222222, #555555, #222222, #555555);
    z-index: 10;

}