body {
    font-family: 'Ubuntu', sans-serif !important;
}

ul.column-toggles {
    list-style: none;
}

ul.column-toggles li {
    float: left;
    display: inline-block;
    margin: 5px;
}

.content .pagination {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.error-pill {
    width: 100%;
    padding: 5px;
    background-color: rgba(204, 12, 0, 0.67);
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 0;
}

.message-pill {
    width: 100%;
    padding: 5px;
    background-color: rgba(49, 103, 173, 0.74);
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 0;
}

.error {
    width: 100%;
    padding: 5px;
    background-color: rgba(204, 12, 0, 0.67);
    border-radius: 10px;
    text-align: center;
    color: white;
    margin: 0;
}

.date-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-form .date-input {
    width: 110px;
    margin-right: 15px;
}

table.dataTable {
    width: 100% !important;
}

table.datatable tbody tr:hover {
    transition: 300ms all linear;
}

table.datatable tbody tr:hover {
    background-color: #F2F2F2;
}
